/**
 * @name ruDiscord
 * @author @wraient
 * @version 1.0.0
 * @description A cold, dark & frosty theme.
 * shamelessly copied from https://github.com/DiscordStyles/DarkMatter/
 * @source https://github.com/wraient/DiscordTheme/
*/

/* @import url('https://raw.githubusercontent.com/Wraient/DiscordTheme/main/src/base.css'); */
/* @import url('src/base.css'); */

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --home-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/8488ac92078829.5e45a9a056b37.gif');
    --background-solid: rgb(0, 0, 0); /* chat */
    --background-solid-dark: black; /* side bar */
    --background-solid-darker: black; /* server list */
    /* --accent: 0, 0, 0; */
    --accent: 156,156,156;
    /* --accent-alt: 0, 0, 0; */
    --accent-alt: 100,100,100;
}



div[class^='chat'] {
    --background-floating: rgba(var(--md-black), 0.5);
    background: transparent;
}

div[class^="container-"][id^="chat-messages-"] {
    --background-modifier-hover: var(--background-solid-dark);
}

div[class^='chat'] main form {
    margin-top: 0;
}

div[class^='chat'] main form::before {
    content: none;
}

div[data-list-id="chat-messages"] {
    --background-primary: transparent;
    --background-secondary: rgba(var(--dm-white), 0.05);
    --background-accent: rgba(var(--dm-white), 0.1);
}

div[class^="channelTextArea-"] {
    --background-secondary: transparent;
    box-shadow: inset 0 0 0 2px rgba(var(--dm-white), 0.1);
    transition: 250ms ease;
    margin-bottom: 24px;
    margin-top: 12px;
    border-radius: 5px;
}

div[id^="chat-messages-"]+div:not([id]):last-child {
    height: 8px;
}

div[id^="chat-messages-"][class*="cozy-"] {
    padding-left: calc(var(--avatar-size) * 2);
}

div[id^="chat-messages-"] {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
}

div[id^="chat-messages-"]>div[class^="buttonContainer-"] {
    transform: scale(.85);
    top: 1px;
}

div[id^="chat-messages-"] {
    --background-primary: rgba(var(--md-black), 0.5);
}

div[id^="chat-messages-"]>div>[class^="avatar-"] {
    margin-top: 6px;
    width: var(--avatar-size);
    height: var(--avatar-size);
}

div[id^="chat-messages-"][class*="cozy-"] div::before {
    --gutter: 13px;
}

.mention {
    transition: 150ms ease;
    color: rgba(var(--accent), 1) !important;
    background-color: rgba(var(--accent), 0.3);
    padding: 3px 5px;
    border-radius: 5px;
}

.mention:hover {
    background-color: rgba(var(--accent), 0.3) !important;
}

#app-mount .container-2cd8Mz {
    background: var(--background-primary);
}

div[class*="barBase-"] {
    padding-bottom: 0;
    background-color: rgba(var(--accent-alt), 0.9);
}
