/**
 * @name ruDiscord
 * @author @wraient
 * @version 1.0.0
 * @description A cold, dark & frosty theme.
 * shamelessly copied from https://github.com/DiscordStyles/DarkMatter/
 * @source https://github.com/wraient/DiscordTheme/
*/

/* @import url('https://raw.githubusercontent.com/Wraient/DiscordTheme/main/src/base.css'); */
/* @import url('src/base.css'); */


/* Variables */
:root {
    --avatar-size: 35px;
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --home-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/8488ac92078829.5e45a9a056b37.gif');
    --background-solid: rgb(0, 0, 0); /* chat */
    --background-solid-dark: black; /* side bar */
    --background-solid-darker: black; /* server list */
    /* --accent: 0, 0, 0; */
    --accent: 155,155,0;
    /* --accent-alt: 0, 0, 0; */
    --accent-alt: 100,100,100;
}



